os:
  - Visual Studio 2015
environment:
  matrix:
    - TARGET: i686-pc-windows-msvc
      BITS: 32
      FEATURES: default
    - TARGET: x86_64-pc-windows-msvc
      BITS: 64
      FEATURES: default
    - TARGET: i686-pc-windows-msvc
      BITS: 32
      FEATURES: rust-native-tls
    - TARGET: x86_64-pc-windows-msvc
      BITS: 64
      FEATURES: rust-native-tls
install:
  # Install Rust
  - curl -sSf -o rustup-init.exe https://win.rustup.rs/
  - rustup-init.exe -y --default-toolchain=stable-%TARGET%
  - set PATH=%PATH%;C:\Users\appveyor\.cargo\bin
  - rustc -V
  - cargo -V

build: false

test_script:
  - cargo build --no-default-features --features "%FEATURES%"